In [20]:
import pandas as pd

off_train = pd.read_csv('data/ccf_offline_stage1_train.csv',parse_dates=["Date"],header=0)
off_train.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received','date']

off_train.ix[:5]

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
1,1439408,4663,11002,150:20,1,20160528,null
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null
4,1439408,2632,8591,20:1,0,20160613,null
5,1439408,2632,null,null,0,null,20160516

In [21]:
off_test = pd.read_csv('data/ccf_offline_stage1_test_revised.csv',header=0)
off_test.columns = ['user_id','merchant_id','coupon_id','discount_rate','distance','date_received']

off_test.ix[:5]

   user_id  merchant_id  coupon_id discount_rate distance  date_received
0  4129537          450       9983          30:5        1       20160712
1  6949378         1300       3429          30:5     null       20160706
2  2166529         7113       6928        200:20        5       20160727
3  2166529         7113       1808        100:10        5       20160727
4  6172162         7605       6500          30:1        2       20160708
5  4005121          450       9983          30:5        0       20160706

In [22]:
on_train = pd.read_csv('data/ccf_online_stage1_train.csv',parse_dates=["Date"],header=0)
on_train.columns = ['user_id','merchant_id','action','coupon_id','discount_rate','date_received','date']

on_train.ix[:5]

,user_id,merchant_id,action,coupon_id,discount_rate,date_received,date
0,13740231,18907,2,100017492,500:50,20160513,null
1,13740231,34805,1,null,null,null,20160321
2,14336199,18907,0,null,null,null,20160618
3,14336199,18907,0,null,null,null,20160618
4,14336199,18907,0,null,null,null,20160618
5,14336199,18907,0,null,null,null,20160618

In [ ]:
"""
 1、特征数据划分                            
                       预测区间                          特征区间
        【dataset3】20160701~20160731 (113640)   【feature3】20160315~20160630  （测试集）
        【dataset2】20160515~20160615 (258446)   【feature2】20160201~20160514  （训练集2）
        【dataset1】20160414~20160514 (138303)   【feature1】20160101~20160413  （训练集1）
"""

In [26]:
# 【dataset3】20160701~20160731 (113640)   【feature3】20160315~20160630  （测试集）
dataset3 = off_test.dropna(how='any')
feature3 = off_train[((off_train.date >= '20160315') & (off_train.date <= '20160630'))
                   | ((off_train.date == 'null') & (off_train.date_received >= '20160315') 
                      &  (off_train.date_received <= '20160630'))
                   ].dropna(how='any')
data3.ix[:5]
feature3.ix[:5]

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
1,1439408,4663,11002,150:20,1,20160528,null
3,1439408,2632,1078,20:1,0,20160319,null
4,1439408,2632,8591,20:1,0,20160613,null
5,1439408,2632,null,null,0,null,20160516

In [27]:
# 【dataset2】20160515~20160615 (258446)   【feature2】20160201~20160514  （训练集2）
dataset2 = off_train[((off_train.date_received >= '20160515') & (off_train.date_received <= '20160615'))].dropna(how='any')
feature2 = off_train[((off_train.date >= '20160201') & (off_train.date <= '20160514'))
                   | ((off_train.date == 'null') & (off_train.date_received >= '20160201') 
                      &  (off_train.date_received <= '20160514'))
                   ].dropna(how='any')
dataset2.ix[:5]
feature2.ix[:5]

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null

In [28]:
# 【dataset1】20160414~20160514 (138303)   【feature1】20160101~20160413  （训练集1）
dataset1 = off_train[((off_train.date_received >= '20160414') & (off_train.date_received <= '20160514'))].dropna(how='any')
feature1 = off_train[((off_train.date >= '20160101') & (off_train.date <= '20160413'))
                   | ((off_train.date == 'null') & (off_train.date_received >= '20160101') 
                      &  (off_train.date_received <= '20160413'))
                   ].dropna(how='any')
dataset1.ix[:5]
feature1.ix[:5]

,user_id,merchant_id,coupon_id,discount_rate,distance,date_received,date
0,1439408,2632,null,null,0,null,20160217
2,1439408,2632,8591,20:1,0,20160217,null
3,1439408,2632,1078,20:1,0,20160319,null

In [ ]:
"""
    2、获得这8个特征，从训练集1、训练集2和测试集的预测区间提取： 
      this_month_user_receive_all_coupon_count 这个月用户收取的所有优惠券数目 
      this_month_user_receive_same_coupon_count 这个月用户收到的相同优惠券的数量 
      this_month_user_receive_same_coupon_lastone 这个月优惠券最远接受时间 
      this_month_user_receive_same_coupon_firstone 这个月优惠券最近接受时间 
      this_day_user_receive_all_coupon_count 一天内用户接收到所有优惠券的数量 
      this_day_user_receive_same_coupon_count 一天内用户接收到相同优惠券的数量 
      day_gap_before 用户上一次领取优惠券的时间间隔 
      day_gap_after  (receive the same coupon)用户下一次领取优惠券的时间间隔
"""

In [60]:
from datetime import date
import numpy as np
def is_firstlastone(x):
    if x == 0:
         return 1
    elif x > 0:
        return 0
    else:
        return -1  # those only receive once

def get_day_gap_before(s):
    date_received, dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        af_date = date(int(date_received[0:4]), int(date_received[4:6]), int(date_received[6:8]))
        bf_date =  date(int(d[0:4]),int(d[4:6]),int(d[6:8]))
        this_gap = (af_date - bf_date).days
        if this_gap > 0:
            gaps.append(this_gap)
    if len(gaps) == 0:
        return -1
    else:
        return min(gaps)


def get_day_gap_after(s):
    date_received, dates = s.split('-')
    dates = dates.split(':')
    gaps = []
    for d in dates:
        bf_date = date(int(date_received[0:4]), int(date_received[4:6]), int(date_received[6:8]))
        af_date =  date(int(d[0:4]),int(d[4:6]),int(d[6:8]))
        this_gap = (af_date - bf_date).days
        if this_gap > 0:
            gaps.append(this_gap)
    if len(gaps) == 0:
        return -1
    else:
        return min(gaps)

In [64]:
def dealOtherFeature(dateset3,file_name):
    #this_month_user_receive_all_coupon_count 这个月用户收取的所有优惠券数目 
    t = dataset3[['user_id']]
    t['this_month_user_receive_all_coupon_count'] = 1
    t = t.groupby('user_id').agg('sum').reset_index()
    t.ix[:5]
    #this_month_user_receive_same_coupon_count 这个月用户收到的相同优惠券的数量 
    t1 = dataset3[['user_id','coupon_id']]
    t1['this_month_user_receive_same_coupon_count'] = 1
    t1.groupby(['user_id','coupon_id']).agg('sum').reset_index()
    t1.ix[:5]
    #this_month_user_receive_same_coupon_lastone 这个月优惠券最远接受时间  
    #this_month_user_receive_same_coupon_firstone 这个月优惠券最近接受时间 
    t2 = dataset3[['user_id','coupon_id','date_received']]
    t2.date_received = t2.date_received.astype('str')
    t2 = t2.groupby(['user_id', 'coupon_id'])['date_received'].agg(lambda x: ':'.join(x)).reset_index()
    t2['receive_number'] = t2.date_received.apply(lambda s: len(s.split(':')))
    t2 = t2[t2.receive_number > 1]
    t2['max_date_received'] = t2.date_received.apply(lambda s: max([int(d) for d in s.split(':')]))
    t2['min_date_received'] = t2.date_received.apply(lambda s: min([int(d) for d in s.split(':')]))
    t2 = t2[['user_id','coupon_id','max_date_received','min_date_received']]
    t2.ix[:5]
    
    t3 = dataset3[['user_id','coupon_id','date_received']]
    t3 = pd.merge(t3,t2,on=['user_id','coupon_id'],how='left').dropna(how='any')
    t3.date_received = t3.date_received.astype('float')
    t3['this_month_user_receive_same_coupon_lastone'] = t3.max_date_received - t3.date_received
    t3['this_month_user_receive_same_coupon_firstone'] = t3.date_received - t3.min_date_received
    t3.this_month_user_receive_same_coupon_lastone = t3.this_month_user_receive_same_coupon_lastone.apply(
            is_firstlastone)
    t3.this_month_user_receive_same_coupon_firstone = t3.this_month_user_receive_same_coupon_firstone.apply(
            is_firstlastone)
    t3 = t3[['user_id', 'coupon_id', 'date_received', 'this_month_user_receive_same_coupon_lastone',
                 'this_month_user_receive_same_coupon_firstone']]
    t3.ix[:5]
    
    #this_day_user_receive_all_coupon_count 一天内用户接收到所有优惠券的数量  
    t4 = dataset3[['user_id','date_received']]
    t4['this_day_user_receive_all_coupon_count'] = 1
    t4 = t4.groupby(['user_id','date_received']).agg('sum').reset_index()
    t4.ix[:5]
    
    #this_day_user_receive_same_coupon_count 一天内用户接收到相同优惠券的数量
    t5 = dataset3[['user_id','coupon_id','date_received']]
    t5['this_day_user_receive_same_coupon_count'] = 1
    t5 = t5.groupby(['user_id','coupon_id','date_received']).agg('sum').reset_index()
    t5.ix[:5]
    
    #day_gap_after  用户下一次领取优惠券的时间间隔 (同一优惠券)
    #day_gap_before 用户上一次领取优惠券的时间间隔 
    t6 = dataset3[['user_id','coupon_id','date_received']]
    t6.date_received = t6.date_received.astype('str')
    t6 = t6.groupby(['user_id', 'coupon_id'])['date_received'].agg(lambda x: ':'.join(x)).reset_index()
    t6.rename(columns={'date_received': 'dates'}, inplace=True)
     
    t7 = dataset3[['user_id','coupon_id','date_received']]
    t7 = pd.merge(t7,t6,on=['user_id','coupon_id'],how='left').dropna(how='any')
    t7['date_received_date'] = t7.date_received.astype('str') + '-' + t7.dates

    t7['day_gap_before'] = t7.date_received_date.apply(get_day_gap_before)
    t7['day_gap_after'] = t7.date_received_date.apply(get_day_gap_after)
    t7 = t7[['user_id', 'coupon_id', 'date_received', 'day_gap_before', 'day_gap_after']]
    t7.ix[:5]
    
    # 合并所有的特征
    other_feature3 = pd.merge(t1,t,on='user_id').dropna(how='any')
    other_feature3 = pd.merge(other_feature3,t3,on=['user_id','coupon_id']).dropna(how='any')
    other_feature3 = pd.merge(other_feature3,t4,on=['user_id','date_received']).dropna(how='any')
    other_feature3 = pd.merge(other_feature3,t5,on=['user_id','coupon_id','date_received']).dropna(how='any')
    other_feature3 = pd.merge(other_feature3,t7,on=['user_id','coupon_id','date_received']).dropna(how='any')

    other_feature3.to_csv(file_name)
    other_feature3.ix[:5]
    return other_feature3

In [65]:
dealOtherFeature(dataset3,'data/other_feature3.csv')
dealOtherFeature(dataset2,'data/other_feature2.csv')
dealOtherFeature(dataset1,'data/other_feature1.csv')

C:\Users\xhb_1\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\xhb_1\Anaconda3\lib\site-packages\ipykernel\__main__.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\xhb_1\Anaconda3\lib\site-packages\pandas\core\generic.py:2773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value
C:\Users\xhb_1\Anaconda3\lib\site-packages\ipykernel\__main__.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\xhb_1\Anaconda3\lib\site-packages\ipykernel\__main__.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,user_id,coupon_id,this_month_user_receive_same_coupon_count,this_month_user_receive_all_coupon_count,date_received,this_month_user_receive_same_coupon_lastone,this_month_user_receive_same_coupon_firstone,this_day_user_receive_all_coupon_count,this_day_user_receive_same_coupon_count,day_gap_before,day_gap_after
0,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
1,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
2,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
3,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
4,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
5,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
6,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
7,5568010,8596,1,2,20160722.0,1,1,2,2,-1,-1
8,3644167,11463,1,5,20160710.0,0,0,1,1,2,1
9,3644167,11463,1,5,20160710.0,0,0,1,1,2,1
10,3644167,11463,1,5,20160710.0,0,0,1,1,2,1
11,3644167,11463,1,5,20160710.0,0,0,1,1,2,1
12,3644167,11463,1,5,20160710.0,0,0,1,1,2,1
13,3644167,11463,1,5,20160706.0,0,1,1,1,-1,2
14,3644167,11463,1,5,20160706.0,0,1,1,1,-1,2
15,3644167,11463,1,5,20160706.0,0,1,1,1,-1,2
16,3644167,11463,1,5,20160706.0,0,1,1,1,-1,2
17,3644167,11463,1,5,20160706.0,0,1,1,1,-1,2
18,3644167,11463,1,5,20160708.0,0,0,1,1,2,2
19,3644167,11463,1,5,20160708.0,0,0,1,1,2,2
20,3644167,11463,1,5,20160708.0,0,0,1,1,2,2
21,3644167,11463,1,5,20160708.0,0,0,1,1,2,2
22,3644167,11463,1,5,20160708.0,0,0,1,1,2,2
23,3644167,11463,1,5,20160711.0,0,0,1,1,1,2
24,3644167,11463,1,5,20160711.0,0,0,1,1,1,2
25,3644167,11463,1,5,20160711.0,0,0,1,1,1,2
26,3644167,11463,1,5,20160711.0,0,0,1,1,1,2
27,3644167,11463,1,5,20160711.0,0,0,1,1,1,2
28,3644167,11463,1,5,20160713.0,1,0,1,1,2,-1
29,3644167,11463,1,5,20160713.0,1,0,1,1,2,-1
...,...,...,...,...,...,...,...,...,...,...,...
90848,6073817,3424,1,3,20160724.0,0,1,1,1,-1,1
90849,6073817,3424,1,3,20160725.0,1,0,1,1,1,-1
90850,6073817,3424,1,3,20160725.0,1,0,1,1,1,-1
90851,6850013,2844,1,3,20160711.0,0,1,1,1,-1,5
90852,6850013,2844,1,3,20160711.0,0,1,1,1,-1,5
90853,6850013,2844,1,3,20160711.0,0,1,1,1,-1,5
90854,6850013,2844,1,3,20160721.0,1,0,1,1,5,-1
90855,6850013,2844,1,3,20160721.0,1,0,1,1,5,-1
90856,6850013,2844,1,3,20160721.0,1,0,1,1,5,-1
90857,6850013,2844,1,3,20160716.0,0,0,1,1,5,5
90858,6850013,2844,1,3,20160716.0,0,0,1,1,5,5
90859,6850013,2844,1,3,20160716.0,0,0,1,1,5,5
90860,7199201,7437,1,3,20160725.0,1,0,1,1,6,-1
90861,7199201,7437,1,3,20160725.0,1,0,1,1,6,-1
90862,7199201,7437,1,3,20160725.0,1,0,1,1,6,-1
90863,7199201,7437,1,3,20160711.0,0,1,1,1,-1,8
90864,7199201,7437,1,3,20160711.0,0,1,1,1,-1,8
90865,7199201,7437,1,3,20160711.0,0,1,1,1,-1,8
90866,7199201,7437,1,3,20160719.0,0,0,1,1,8,6
90867,7199201,7437,1,3,20160719.0,0,0,1,1,8,6
90868,7199201,7437,1,3,20160719.0,0,0,1,1,8,6
90869,5133809,7437,1,3,20160713.0,0,1,1,1,-1,2
90870,5133809,7437,1,3,20160713.0,0,1,1,1,-1,2
90871,5133809,7437,1,3,20160713.0,0,1,1,1,-1,2
90872,5133809,7437,1,3,20160725.0,1,0,1,1,10,-1
90873,5133809,7437,1,3,20160725.0,1,0,1,1,10,-1
90874,5133809,7437,1,3,20160725.0,1,0,1,1,10,-1
90875,5133809,7437,1,3,20160715.0,0,0,1,1,2,10
90876,5133809,7437,1,3,20160715.0,0,0,1,1,2,10
90877,5133809,7437,1,3,20160715.0,0,0,1,1,2,10